body {
  padding: 0;
  margin: 0;
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  background-position: center;
}

a {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}